body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #71c5cf;
}
h1{
    margin-bottom: 5px;
}
#board{
    background-image: url("images/flappybirdbg.png");
}
